.Facebook-logo-color {
    color: #3B5998;
}

.Flicker-logo-color {
    color: #FE0883;
}
.Foursquare-logo-color {
    color: #8FD400;
}
.GooglePlus-logo-color {
    color: #C63D2D;
}
.Instagram-logo-color {
    color: #4E433C;
}
.Linkedin-logo-color {
    color: #4875B4;
}
.Tumblr-logo-color {
    color: #2B4964;
}
.Vimeo-logo-color {
    color: #86B32D;
}
.Youtube-logo-color {
    color: #FF3333;
}
.Twitter-logo-color {
    color: #33CCFF;
}